
<div class="container-fluid">

  <div class="row bg-white" style="height: 100vh;">

    <div class="col-12 col-lg-12 d-flex text-center flex-column align-content-center justify-content-center align-items-center"
      style="padding: 0">


      <div class="container-login d-flex align-content-center justify-content-center align-items-center flex-column d_100vh">


        <span>
          <h1 class="f_roboto-bold f_2rem mb-1 t_c-gris-primario">INICIO DE SESIÓN</h1>
          <p class="f_roboto-light t_c-gris-secundario">Ingresa tu nombre de usuario y contraseña</p>
          <form action="" id="m_login" class="d-flex flex-column align-items-center" autocomplete="on">
            <span id="s-login" class="d-flex flex-row align-items-center justify-content-around">
              <i class="fa fa-user mx-2" aria-hidden="true"></i>
              <input id="i-login" class="f_roboto-regular" type="text" placeholder="Usuario" #usuario (keyUp.enter)="sesionStart(usuario.value, password.value)">
            </span>
            <span id="s-pass" class="d-flex flex-row align-items-center justify-content-around">
              <i class="fa fa-lock mx-2" aria-hidden="true"></i>
              <input id="i-pass" type="password" class="f_roboto-regular" placeholder="*****" #password (keyUp.enter)="sesionStart(usuario.value, password.value)">
            </span>
            <input type="button" class="f_roboto-regular" value="INICIAR" (click)="sesionStart(usuario.value, password.value)">
            <div class="mt-2 d-flex justify-content-center align-items-center align-content-center" style="width: 100%; height: 30px;">
              <p class="animated fadeIn fast f_roboto-regular t_c-azul-primario mt-5" *ngIf="cargando">
                <i class="fa fa-spinner fa-spin"></i>
                Comprobando
              </p>
              <p class="f_roboto-regular text-success mt-5" *ngIf="success">
                <i class="fa fa-check"></i>
                Correcto
              </p>
              <p class="f_roboto-regular text-danger mt-5" *ngIf="errorCre == true">
                <i class="fa fa-check"></i>
                Credenciales incorrectas. Vuelva a intentarlo.
              </p>
            </div>
          </form>
        </span>

      </div>

      <div id="seccion-contacto" class="div d-flex flex-column fixed-bottom col-12 col-lg-12" style="top:90vh">

        <span class="d-flex flex-row justify-content-center align-items-center align-content-center">
          <p class="f_roboto-italic m-0">¿Preguntas? Usa nuestro formulario de contacto</p>
          <i id="up-contacto" class="fa fa-chevron-up t_c-gris-primario mx-2" aria-hidden="true"></i>
          <i id="down-contacto" class="fa fa-chevron-down t_c-gris-primario mx-2" aria-hidden="true" style="display: none"></i>
        </span>

        <div id="form-contacto" class="d-flex justify-center d-none offset-md-3 col-md-6 col-12">

          <form id="form-contact" action="" class="d-flex flex-column align-items-center col-12" style="height: 100vh;" #form="ngForm"
            autocomplete="off">
            <input type="text" placeholder="*Nombre" required #nombres ngModel name="nombres">
            <input type="text" placeholder="*Telefono" #telefono ngModel name="telefono">
            <input type="text" placeholder="*Correo" required #correo ngModel name="correo">
            <textarea placeholder="*Comentario" #comentario ngModel name="comentario"></textarea>
            <input type="button" class="f_roboto-regular" [ngClass]="{'desactivado': cargando || !form.valid}" value="ENVIAR" [disabled]="!form.valid"
              (click)="setComentario(nombres.value, telefono.value, correo.value, comentario.value, form)">
          </form>

        </div>
        <span *ngIf="comentario" class="d-flex flex-row justify-content-center align-items-center align-content-center mt-3 text-success">
          <p class="f_roboto-italic m-0">Gracias! Nos pondremos en contacto contigo dentro de poco</p>
          <i id="up-contacto" class="fa fa-clock-o mx-2" aria-hidden="true"></i>
        </span>
      </div>

    </div>


  </div>

</div>