<div class="container bg-white mt-3 animated fadeIn">
  <div class="table-responsive">

    <table class="table table-borderless mt-4">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Paralelo</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="">1</th>
          <td>Cesar Lata Jacome</td>
          <td class="pl-4">A</td>
          <td>
            <label class="switch col-form-label offset-1 m-0">
              <input type="checkbox" class="t_b-azul-base form-control border-0" id="estado_toggle">
              <span class="slider round"></span>
            </label>
          </td>
        </tr>

        <tr>
          <th scope="row">1</th>
          <td>Joel Velez Rivera</td>
          <td class="pl-4">A</td>
          <td>
            <label class="switch col-form-label offset-1 m-0">
              <input type="checkbox" class="t_b-azul-base form-control border-0" id="estado_toggle">
              <span class="slider round"></span>
            </label>
          </td>
        </tr>



      </tbody>
    </table>
  </div>


  <div class="row py-5">
    <div class="col-6 offset-4">
      <button type="button" class="btn t_b-verde col-6 text-white" (click)="vari = !vari">
        <span *ngIf="!vari">
          Guardar
        </span>

          <i class="fa fa-spinner fa-spin" *ngIf="vari" ></i>
      </button>
      
    </div>
  </div>
</div>