table{
    border-collapse: separate;
    border-spacing: 0px 25px !important;
}
tbody{
    
}
tbody > tr{
    background-color: #E5EBF1;
}

th{
    color: #A4B2C1;
    font-size: 0.8rem;
    text-align: center;
}
td{
    padding: auto auto;
    min-width: 100px;
    max-width: auto;
    text-align: center;
}

.dropdown-menu{
    left: 0 !important;
}



