@charset "UTF-8";
a {
  text-decoration: none;
}

.m-0{
  margin: 0 !important;
}

.p-0{
  padding: 0 !important;
}

/* Diseño */
.d_100vh {
  height: 100vh;
}

.d_100vw {
  width: 100vw;
}

.d_px-2 {
  padding: auto 2px;
}

.d_py-2 {
  padding: 2px auto;
}

.d_px-3 {
  padding: auto 3px;
}

.d_py-3 {
  padding: 3px auto;
}

.d_px-4 {
  padding: auto 4px;
}

.d_py-4 {
  padding: 4px auto;
}

.d_px-5 {
  padding: auto 5px;
}

.d_py-5 {
  padding: 5px auto;
}

.d_p-2 {
  padding: 2px;
}

.d_p-3 {
  padding: 3px;
}

.d_p-4 {
  padding: 4px;
}

.d_p-5 {
  padding: 5px;
}

.d_pt-5 {
  padding-top: 5px;
}

.d_pr-5 {
  padding-right: 5px;
}

.d_pb-5 {
  padding-bottom: 5px;
}

.d_pl-5 {
  padding-left: 5px;
}

.d_m {
  margin: 0;
}

.d_m-2 {
  padding: 2px;
}

.d_m-3 {
  margin: 3px;
}

.d_m-4 {
  margin: 4px;
}

.d_m-5 {
  margin: 5px;
}

.d_mt-5 {
  margin-top: 5px;
}

.d_mr-5 {
  margin-right: 5px;
}

.d_mb-5 {
  margin-bottom: 5px;
}

.d_ml-5 {
  margin-left: 5px;
}

.d_mx-2 {
  margin: auto 2px;
}

.d_my-2 {
  margin: 2px auto;
}

.d_mx-3 {
  margin: auto 3px;
}

.d_my-3 {
  margin: 3px auto;
}

.d_mx-4 {
  margin: auto 4px;
}

.d_my-4 {
  margin: 4px auto;
}

.d_mx-5 {
  margin: auto 5px;
}

.d_my-5 {
  margin: 5px auto;
}

.d_flex {
  display: flex;
}

.d_flex-column {
  flex-direction: column;
}

.d_flex-row {
  flex-direction: row;
}

.d_justify-center {
  justify-content: center;
}

.d_justify-around {
  justify-content: space-around;
}

.d_justify-between {
  justify-content: space-between;
}

.d_align-items-center {
  align-items: center;
}

.d_align-content-center {
  align-content: center;
}

.d_align-content-end {
  align-content: flex-end;
}

.d_text-center {
  text-align: center;
}

.f_roboto-bold {
  font-family: Roboto-Bold;
}

.f_roboto-light {
  font-family: Roboto-Light;
}

.f_roboto-italic {
  font-family: Roboto-Italic;
}

.f_roboto-regular {
  font-family: Roboto-Regular;
}

.f_1rem {
  font-size: 1rem;
}

.f_2rem {
  font-size: 2rem;
}

@font-face {
  font-family: Roboto-Bold;
  src: url("./assets/libs/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: Roboto-Italic;
  src: url("./assets/libs/Roboto/Roboto-Italic.ttf");
}
@font-face {
  font-family: Roboto-Light;
  src: url("./assets/libs/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: Roboto-Regular;
  src: url("./assets/libs/Roboto/Roboto-Regular.ttf");
}
/*login*/
#m_login {
  margin-top: 40px;
  height: 100%;
  /*Contacto*/
}

#m_login input[type=text], #m_login input[type=password] {
  height: 35px;
  width: 350px;
  border: 0;
  color: #505050;
  font-size: 1rem;
}

#m_login :focus {
  outline: 0;
}
#m_login span {
  margin: 10px auto;
  border: 1px solid #AEAEAE;
  width: 400px;
  height: 42px;
  border-radius: 5px;
}
#m_login span i {
  color: #AEAEAE;
}
#m_login input[type=button] {
  margin-top: 20px;
  border: 0;
  width: 100%;
  height: 35px;
  background-color: #2E90DE;
  color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.16);
  transition: 0.3s all;
}
#m_login input[type=button]:hover {
  background-color: #006DC4;
}

#seccion-contacto {
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: #E5EBF1;
}



#seccion-contacto span {
  margin: 0;
  background-color: #E5EBF1;
  padding: 24px 10px;
  justify-content: center;
  color: #707070;
}
#seccion-contacto p {
  font-size: 0.9em;
}
#seccion-contacto i {
  cursor: pointer;
}
#seccion-contacto form {
  margin-bottom: -20%;
}
#seccion-contacto form input[type=text] {
  width: 100%;
}
#form-contacto{
  width: 100%
}
#form-contact {
  transition: 2s all;
}
#form-contacto form {
  width: 100%;
  margin-top: 40px;
}
#form-contacto form input[type=text], #form-contacto form textarea {
  border: 1px solid #AEAEAE;
  height: 45px;
  width: 70%;
  border: 0;
  color: #505050;
  font-size: 1rem;
  margin-bottom: 20px;
  padding: 10px;
}
#form-contacto form input[type=submit] {
  margin-top: 20px;
  border: 0;
  width: 70%;
  height: 35px;
  background-color: #2E90DE;
  color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.16);
  transition: 0.3s all;
}

#form-contacto form input[type=submit]:hover {
  background-color: #006DC4;
}

#form-contact{
  width: 100%
}

.i-seleccionado {
  border-left: 5px solid #2E90DE !important;
  transition: 0.2s all;
}

#portada {
  background-image: url("assets/img/portada.png");
  background-size: 100% 100%;
}

.t_c-gris-primario {
  color: #505050;
}

.t_c-azul-primario {
  color: #2E90DE;
}

.t_c-gris-secundario {
  color: #AEAEAE;
}

/*# sourceMappingURL=estilos.css.map */

  
.animated{
  animation-fill-mode: both;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-duration: 1s;
}
.fadeIn{
  animation-name: fadeIn;
}

.fast{
  animation-fill-mode: both;
  animation-duration: 0.2s;

  
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}