@charset "UTF-8";

.ngx-notification {
  background-color: #287CF3;
  color: #fff;
}

body{
  background-color: #E5EBF1;
}
a {
  text-decoration: none !important;
}

button {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

.i-invalid{
  border: 1px solid #EB5469 !important;
}
.i-valid{
  border: 1px solid #7AEFAD !important;
}

.desactivado{
  cursor: not-allowed;
}



/* ======================================= */

/* FUENTES */

.f_roboto-bold {
  font-family: Roboto-Bold;
}

.f_roboto-light {
  font-family: Roboto-Light;
}

.f_roboto-italic {
  font-family: Roboto-Italic;
}

.f_roboto-regular {
  font-family: Roboto-Regular;
}

.f_1rem {
  font-size: 1rem;
}

.f_2rem {
  font-size: 2rem;
}
.modal-backdrop{
  display: none;
}

#dropdownMenuButton{
  cursor: pointer;
}
/* .dropdown-menu.show{
  left: -85% !important;
} */

/* ================================= */

@font-face {
  font-family: Roboto-Bold;
  src: url("./assets/libs/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: Roboto-Italic;
  src: url("./assets/libs/Roboto/Roboto-Italic.ttf");
}
@font-face {
  font-family: Roboto-Light;
  src: url("./assets/libs/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: Roboto-Regular;
  src: url("./assets/libs/Roboto/Roboto-Regular.ttf");
}

/* MODULOS */
/*login*/
#m_login {
  margin-top: 40px;
  height: 100%;
  /*Contacto*/
}

#m_login input[type=text], #m_login input[type=password] {
  height: 35px;
  width: 350px;
  border: 0;
  color: #505050;
  font-size: 1rem;
}

#m_login :focus {
  outline: 0;
}

#m_login span {
  margin: 10px auto;
  border: 2px solid #E5EBF1;
  width: 400px;
  height: 42px;
  border-radius: 5px;
}
#m_login span i {
  color: #287cf3;
}
#m_login input[type=button] {
  border-radius: 5px;
  margin-top: 20px;
  border: 0;
  width: 100%;
  height: 35px;
  background-color: #287CF3;
  color: white;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.16); */
  transition: 0.3s all;
}
#m_login input[type=button]:hover {
  background-color: #006DC4;
}

#seccion-contacto {
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: #E5EBF1;
}



#seccion-contacto span {
  margin: 0;
  background-color: #E5EBF1;
  padding: 24px 10px;
  justify-content: center;
  color: #707070;
}
#seccion-contacto p {
  font-size: 0.9em;
}
#seccion-contacto i {
  cursor: pointer;
}
#seccion-contacto form {
  margin-bottom: -20%;
}
#seccion-contacto form input[type=text] {
  width: 100%;
}
#form-contacto{
  width: 100%
}
#form-contact {
  transition: 2s all;
}
#form-contacto form {
  width: 100%;
  margin-top: 40px;
}
#form-contacto form input[type=text], #form-contacto form textarea {
  border: 1px solid #AEAEAE;
  height: 45px;
  width: 70%;
  border: 0;
  color: #505050;
  font-size: 1rem;
  margin-bottom: 20px;
  padding: 10px;
}
#form-contacto form input[type=button] {
  margin-top: 20px;
  border: 0;
  width: 70%;
  height: 35px;
  background-color: #2E90DE;
  color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.16);
  transition: 0.3s all;
}

#form-contacto form input[type=button]:hover {
  background-color: #006DC4;
}

#form-contact{
  width: 100%
}

.i-seleccionado {
  border: 2px solid #287CF3 !important;
  transition: 0.2s all;
}



/* TEMA > COLORES */

.t_c-gris-primario {
  color: #505050;
}

.t_c-azul-primario {
  color: #287CF3;
}

.t_b-azul-primario {
  background-color: #2E90DE;
}

.t_b-azul-base {
  background-color: #E5EBF1 !important;
}

.t_c-gris-secundario {
  color: #AEAEAE;
}

.t_b-verde {
background-color: #7AEFAD;
}

.t_b-verde:hover {
background-color: #6AD498;
}



/* SWITCH */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #7AEFAD;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ============================= */

/* ANIMACIONES */
  
.animated{
  animation-fill-mode: both;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-duration: 1s;
}
.fadeIn{
  animation-name: fadeIn;
}

.fast{
  animation-fill-mode: both;
  animation-duration: 0.2s;

  
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}