<nav class="navbar navbar-expand-lg navbar-dark bg-white  d-none d-lg-block" style="max-height: 3.33rem">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <form id="buscador" class="form-inline my-2 my-lg-0 ml-auto d-flex flex-row align-items-center justify-content-center align-content-center">
            <a href="">
                <p class="s" style="border:1px solid #1BDCCF; color: #1BDCCF; padding: 0 10px !important; margin: 0">A</p>
            </a>
            <li class="nav-item dropdown mr-3" style="list-style: none;">
                <a class="nav-link dropdown-toggle text-secondary" id="dropdownMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    {{nombreUsuario | capitalizar}}
                </a>

                <div class="container-fluid">

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" (click)="cerrarSesion()">Salir</a>

                    </div>
                </div>
            </li>
        </form>
    </div>
</nav>



<div class="nav-side-menu">

    <div class="brand text-center t_b-azul-primario" style="height: 54px;">
        <i class="fa fa-youtube-play px-3" aria-hidden="true"></i>
    </div>


    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>



    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out p-0 f_roboto-bold">

            <nav class="nav-item navbar dropdown d-lg-none text-center text-secondary" style="list-style: none;">
                <a class="nav-link dropdown-toggle text-secondary" id="dropdownMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    {{nombreUsuario | capitalizar}}
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Salir</a>

                </div>

            </nav>

            <li class="text-center" routerLinkActive="active">
                <a [routerLink]="['estudiantes']" class="d-lg-flex flex-row text-lg-center justify-content-around align-items-center" style="color: inherit">
                    <i class="fa fa-user fa-lg f_1rem  pt-2" style="color: inherit"></i>
                    <a class="pb-0 pt-2 pl-3 pl-lg-0" style="color: inherit">
                        Estudiantes
                    </a>
                </a>
            </li>
            <li class="text-center" routerLinkActive="active">
                <a [routerLink]="['profesores']" class="d-lg-flex flex-row text-lg-center justify-content-around align-items-center" style="color: inherit">
                    <i class="fa fa-users fa-lg f_1rem  pt-2" style="color: inherit"></i>
                    <a class="pb-0 pt-2 pl-3 pl-lg-0" style="color: inherit">
                        Profesores
                    </a>
                </a>
            </li>



        </ul>


    </div>


</div>


<!-- <nav class="navbar">

    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Dropdown link
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
 
</nav> -->