    <div class="main-header">
        <div class="logo-header">
            <a href="index.html" class="logo">
                EXAC
            </a>
            <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fa fa-bars"></i>
                </span>
            </button>
            <button class="topbar-toggler more">
                <i class="fa fa-ellipsis-v"></i>
            </button>
        </div>
        <nav class="navbar navbar-header navbar-expand-lg p-0">
            <div class="container-fluid">

                <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">

                    <li class="nav-item dropdown hidden-caret">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="fa fa-bell"></i>
                            <span class="notification">3</span>
                        </a>
                        <ul class="dropdown-menu notif-box" aria-labelledby="navbarDropdown">
                            <li>
                                <div class="dropdown-title">Tienes 4 notificationes</div>
                            </li>
                            <li>
                                <div class="notif-center">
                                    <a href="#">
                                        <div class="notif-icon notif-primary">
                                            <i class="la la-user-plus"></i>
                                        </div>
                                        <div class="notif-content">
                                            <span class="block">
                                                Nuevo comentario
                                            </span>
                                            <span class="time">5 minutos atras</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>


                    <li class="nav-item dropdown">

                        <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                            <span>{{nombreUsuario | capitalizar}}</span>

                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <button class="dropdown-item" (click)="cerrarSesion()">
                                <i class="fa fa-power-off"></i> Cerrar sesión</button>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                </ul>
            </div>
        </nav>
    </div>






    <div class="sidebar">
        <div class="scrollbar-inner sidebar-wrapper">
            <div class="user">

                <div class="info">
                    <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                        <span>
                            {{nombreUsuario | capitalizar}}
                            <span class="user-level">Administrator</span>
                        </span>
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>
            <ul class="nav">
                <li class="nav-item">
                    <a href="index.html">
                        <i class="fa fa-tachometer"></i>
                        <p>Tablero</p>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a [routerLink]="['estudiantes']">
                        <i class="fa fa-user"></i>
                        <p>Estudiantes</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="forms.html">
                        <i class="fa fa-users"></i>
                        <p>Docentes</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
