<div class="container bg-white mt-3 animated fadeIn col-9" style="position: relative;">
  <app-load [estado]="sucess"></app-load>
  <form class="py-5 px-4" #formulario="ngForm" (ngSubmit)="form(formulario)" autocomplete="off">

    <div class="form-group row py-3 col-12  offset-lg-1 col-lg-10 text-center">
      <div class="col-12 px-0">
        <input type="number" class="t_b-azul-base  border-0 form-control col-12 " id="cedula" [ngClass]="{'i-invalid': (mcedula.touched && mcedula.invalid )}"
          placeholder="Cedula" #cedula #mcedula="ngModel" ngModel name="cedula" required>
        <p class="m-0 p-0 text-danger text-left px-2 py-2" *ngIf="mcedula.invalid && mcedula.touched || !validarCI(cedula.value)">*Campo requerido no válido</p>

      </div>
    </div>

    <!-- <div class="form-group row py-3 col-12  offset-lg-1 col-lg-10 text-center">
       <div class="col-12 px-0">
         <input type="text" class="t_b-azul-base  border-0 form-control col-12 " id="nombres" [ngClass]="{'i-invalid': (mnombres.touched && mnombres.invalid)}"
           placeholder="nombres" #nombres #mnombres="ngModel" ngModel name="nombres" required>
       </div>
     </div>

     <div class="form-group row py-3 col-12  offset-lg-1 col-lg-10 text-center">
       <div class="col-12 px-0">
         <input type="text" class="t_b-azul-base  border-0 form-control col-12 " id="apellidos" [ngClass]="{'i-invalid': (mapellidos.touched && mapellidos.invalid)}"
           placeholder="apellidos" #apellidos #mapellidos="ngModel" ngModel name="apellidos" required>
       </div>
     </div>

     <div class="form-group row py-3 col-12  offset-lg-1 col-lg-10 text-center">
       <div class="col-12 px-0">
         <input type="number" class="t_b-azul-base  border-0 form-control col-12 " id="telefono" [ngClass]="{'i-invalid': (mtelefono.touched && mtelefono.invalid)}"
           placeholder="telefono" #telefono #mtelefono="ngModel" ngModel name="telefono" required>
       </div>
     </div>

     <div class="form-group row py-3 col-12  offset-lg-1 col-lg-10 text-center">
       <div class="col-12 px-0">
         <input type="email" class="t_b-azul-base  border-0 form-control col-12 " id="email" [ngClass]="{'i-invalid': (memail.touched && memail.invalid)}"
           placeholder="email" #email #memail="ngModel" ngModel name="email" required>
       </div>
     </div>
     <div class="form-group row py-3 col-12  offset-lg-1 col-lg-10 text-center">
       <div class="col-12 px-0">
         <input type="text" class="t_b-azul-base  border-0 form-control col-12 " id="direccion" [ngClass]="{'i-invalid': (mdireccion.touched && mdireccion.invalid)}"
           placeholder="direccion" #direccion #mdireccion="ngModel" ngModel name="direccion" required>
       </div>
     </div>

     <div class="form-group row py-3 col-12  offset-lg-1 col-lg-10 text-center">
       <div class="col-12 px-0">
         <input type="date" class="t_b-azul-base  border-0 form-control col-12 " id="fecha_nacimiento" [ngClass]="{'i-invalid': (mfecha_nacimiento.touched && mfecha_nacimiento.invalid)}"
           placeholder="fecha_nacimiento" #fecha_nacimiento #mfecha_nacimiento="ngModel" ngModel name="fecha_nacimiento" required>
       </div>
     </div> -->





    <div class="form-group row py-3 col-12  offset-lg-1 col-lg-10">
      <label for="periodo" class="col-12 col-form-label col-lg-6">Periodo</label>
      <select id="periodo" class="form-control border-0 t_b-azul-base px-4  col-12 col-lg-6" #periodo required name="periodo">
        <option *ngFor="let periodo of periodos" [value]="periodo.id" [selected]="periodo">Desde {{periodo.fecha_inicio}} hasta {{periodo.fecha_fin}}</option>
      </select>
    </div>




    <div class="form-group row py-2 col-12 mt-5 col-lg-10 offset-lg-1">
      <button type="button" [disabled]="!formulario.valid || tick || cargando || !validarCI(cedula.value)" [ngClass]="{'desactivado': cargando || tick || !formulario.valid}"
        class="btn t_b-verde col-12 mt-3 text-white" (click)="setNuevoDocente(cedula.value, 1, periodo.value, 1, formulario)">
        <ng-container *ngIf="cargando; else cargandoFalse">
          <span>
            <i class="fa fa-spinner fa-spin"></i>
          </span>
        </ng-container>
        <ng-template #cargandoFalse>
          <ng-container *ngIf="tick; else tickFalse">
            Guardado
            <i class="fa fa-check" *ngIf="tick"></i>
          </ng-container>
          <ng-template #tickFalse>
            Guardar
          </ng-template>
        </ng-template>
      </button>



    </div>


  </form>
</div>